<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeTailwind</title>
    <link rel="stylesheet" href="output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="font-Cursive text-white ">


    <main class="bg-bgColor">
        <!-- Hero Section -->
        <section class="bg-[url('./strangerThings.jpg')] h-[60vh] bg-cover bg-center ">
            <div class="h-full backdrop-blur-sm  flex flex-col justify-center gap-3 p-5">
                <!-- Title -->
                <div class="text-[2rem]">Stranger Things</div>
                <!-- Rating -->
                <div class="flex gap-5 items-center"><i class="fa-solid fa-globe"></i>
                    <span>8.7</span>
                    <span>2016</span>
                    <span>51min</span>
                </div>
                <!-- Paragraph -->
                <div>When a young boy vanishes, a small town uncovers a mystery involving <br>
                    secret experiments, terrifying supernatural forces and one strange <br>
                    little girl.</div>
                <!-- Buttons -->
                <div>
                    <button
                        class="bg-gradient-to-tr from-purple-500 to-indigo-500 py-[15px] px-[31px] rounded-[30px]"><i
                            class="fa-solid fa-play mr-1"></i>Streaming
                        Now</button>
                    <button
                        class="bg-gradient-to-tr from-purple-500 to-indigo-500 py-[15px] px-[31px] rounded-[30px] mr-1"><i
                            class="fa-solid fa-bookmark"></i> Watch
                        Later</button>
                </div>
            </div>
        </section>

        <!-- Movies Section -->
        <section class="p-5">
            <!-- newRelease -->
            <div class="flex text-[20px] justify-between py-3">
                <div>New release</div>
                <div>View All</div>
            </div>
            <!-- Movies list -->
            <div class="flex gap-8">
                <div class=" h-[400px] w-[288px]"><img class="h-full object-cover"
                        src="https://fr.web.img4.acsta.net/pictures/22/05/18/14/31/5186184.jpg" alt=""></div>
                <div class=" h-[400px] w-[288px]"><img class="h-full object-cover"
                        src="https://m.media-amazon.com/images/M/MV5BNmM4YTFmMmItMGE3Yy00MmRkLTlmZGEtMzZlOTQzYjk3MzA2XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg"
                        alt=""></div>
                <div class=" h-[400px] w-[288px]"><img class="h-full object-cover"
                        src="https://m.media-amazon.com/images/I/81MJv+WKb9L._AC_UF894,1000_QL80_.jpg" alt=""></div>
                <div class=" h-[400px] w-[288px]"><img class="h-full object-cover"
                        src="https://m.media-amazon.com/images/I/91vya3UmldL._AC_UF894,1000_QL80_.jpg" alt=""></div>
                <div class=" h-[400px] w-[288px]"><img class="h-full object-cover"
                        src="https://m.media-amazon.com/images/M/MV5BMTQ5ODMxNTIyNV5BMl5BanBnXkFtZTcwNjQ1ODgyNQ@@._V1_.jpg"
                        alt=""></div>

            </div>
        </section>
    </main>
</body>

</html>