<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie</title>
    <link rel="stylesheet" href="Movie.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
</head>

<body>
    <div class="background">
        <header>
            <div class="nav_logo">
                <!-- Logo -->
                <div class="logo">LOGO</div>
                <!--  Main Navigation -->
                <nav>
                    <ul>
                        <li>
                            <a href="./Home.html">Home</a>
                        </li>
                        <li>
                            <a href="./Movies.html">Movies</a>
                        </li>
                        <li>
                            <a href="./Price.html">Price</a>
                        </li>
                        <li>
                            <a href="./ContactUs.html">Contact us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--  Search Bar -->
            <div class="search">
                <input class="space" type="text" placeholder="Find Movie">
                <select class="space" name="" id="">
                    <option value="">
                    <option value="">EN</option>
                    <option value="">FR</option>
                    <option value="">AR</option>
                    </option>
                </select>
                <i class="fa-solid fa-globe space"></i>
                <button class="space">Subscribe</button>
            </div>
        </header>
        <main>
            <!-- Details -->
            <div class="movie_details">
                <!-- Poster -->
                <div class="poster"><img
                        src="https://www.ecran-et-toile.com/uploads/5/5/8/7/55875205/published/the-end-of-poster.jpg?1517256366g"
                        alt="The end of the fucking world" title="The end of the fucking world"></div>
                <!--  Title & Rating -->
                <div class="description">
                    <div class="logo"><strong>John Wick 4</strong></div>
                    <div class="rating">
                        <i class="fa-regular fa-star" style="color:#8e2de2"></i>
                        <i class="fa-regular fa-star" style="color:#8e2de2"></i>
                        <i class="fa-regular fa-star" style="color:#8e2de2"></i>
                        <i class="fa-regular fa-star" style="color:#8e2de2"></i>
                        <i class="fa-regular fa-star" style="color:#8e2de2"></i>
                        8,2/10
                    </div>
                    <div class="views"><i class="fa-solid fa-eye" style="color:#8e2de2"></i> 3231 Views</div>
                    <div class="comments"><i class="fa-regular fa-comment-dots" style="color:#8e2de2"></i> 0</div>
                    <div class="date">2023 - 1 hr 25 mins
                        <span>TV-MA</span>
                    </div>
                    <div class="type">Action - Thriller</div>
                    <div class="description_button add">
                        <button class="likes">
                            <i class="fa-regular fa-thumbs-up"></i> 13 likes
                        </button>
                        <button class="share">
                            <i class="fa-solid fa-share-nodes"></i> Share
                        </button>
                        <button class="watchlist">
                            <i class="fa-solid fa-plus"></i> Watchlist
                        </button>
                    </div>
                    <div class="description_button download">
                        <button class="download">Download Videos <i class="fa-solid fa-download"></i>
                        </button>
                    </div>
                    <div class="desc-txt">
                        <p>John Wick uncovers a path to defeating The High Table. But before he can earn his freedom,
                            Wick
                            must face off
                            against a new enemy with powerful alliances across the globe and forces that turn old
                            friends
                            into foes.</p>
                        <div>Show more <i class="fa-solid fa-chevron-down"></i></div>
                    </div>
                    <div class="cast"><strong>Cast</strong> : Brooke Mulford
                        <div><strong>Crew</strong> : Alaya Pacheco, Ricky Aleman, Sarah Neal</div>
                    </div>
                    <div class="play_trailer">
                        <button>Play Now
                            <i class="fa-solid fa-play"></i>
                        </button>
                        <button>Watch Later
                            <i class="fa-solid fa-bookmark"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Pictures -->
            <div class="movie_pics">
                <div class="img1"><img
                        src="https://www.ecran-et-toile.com/uploads/5/5/8/7/55875205/published/the-end-of-poster.jpg?1517256366"
                        alt=""></div>
                <div class="img2"><img
                        src="https://thedailytexan.com/2018/01/26/the-end-of-the-fing-world-sheds-a-dark-light-on-teenage-strife/"
                        alt=""></div>
                <div class="img3"><img
                        src="https://static.wikia.nocookie.net/teotfw/images/a/ac/Alyssa.JPG/revision/latest?cb=20190813031512"
                        alt=""></div>
                <div class="img4"><img
                        src="https://www.indiewire.com/wp-content/uploads/2018/01/1389398-715980-zoomed.jpg"
                        alt=""></div>
                <div class="img5"><img
                        src="https://filmdaze.net/wp-content/uploads/2018/01/1_j00wrvycq4wpiv5u7xoupw.jpeg"
                        alt=""></div>
            </div>
        </main>
    </div>
    <footer>
    </footer>
</body>

</html>